# PyCity School Analysis
- Observed Trend 1: Charter Schools have outperformed Districts Schools, with higher average scores in math and reading, and higher passing rates.
- Observed Trend 2: Smaller schools have outperformed larger schools. Moving from large to medium to small schools, average scores and passing rates improve.
- Observed Trend 3: Surprisingly, schools with lower spending per student have outperformed schools with higher spending per student. Perhaps the schools with larger budgets are being given additional funding to overcome poor scores.

In [1]:
import pandas as pd
import os

filepath_schools = os.path.join("raw_data","schools_complete.csv")
filepath_students = os.path.join("raw_data","students_complete.csv")

df_schools = pd.read_csv(filepath_schools)
df_students = pd.read_csv(filepath_students)

# District Summary

In [2]:
# # Create a high level snapshot (in table form) of the district's key metrics

total_schools = len(df_schools)
total_students = df_schools["size"].sum()
total_budget = df_schools["budget"].sum()
avg_math = df_students["math_score"].mean()
avg_reading = df_students["reading_score"].mean()

students_passing_math = df_students.loc[df_students["math_score"] >= 70,:]
passing_math = len(students_passing_math)
pct_passing_math = (passing_math / total_students)*100

students_passing_reading = df_students.loc[df_students["reading_score"] >= 70,:]
passing_reading = len(students_passing_reading)
pct_passing_reading = (passing_reading / total_students)*100

passing_rate = (pct_passing_reading + pct_passing_math)/2

# Format items
total_budget = '${:,.0f}'.format(total_budget)
avg_math = '{0:.2f}'.format(avg_math)
avg_reading = '{0:.2f}'.format(avg_reading)
pct_passing_math = '{0:.2f}%'.format(pct_passing_math)
pct_passing_reading = '{0:.2f}%'.format(pct_passing_reading)
passing_rate = '{0:.2f}%'.format(passing_rate)

# Create Summary Table
district_summary = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[avg_math],
    "Average Reading Score":[avg_reading],
    "% Passing Math":[pct_passing_math],
    "% Passing Reading":[pct_passing_reading],
    "Overall Passing Rate":[passing_rate]
})

# Reset column order
district_summary = district_summary[["Total Schools",
                                     "Total Students",
                                     "Total Budget",
                                     "Average Math Score",
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "Overall Passing Rate"]]

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428",78.99,81.88,74.98%,85.81%,80.39%

# School Summary

In [3]:
# Create an overview table that summarizes key metrics about each school

student_by_school = df_students.groupby("school")

df_schools["Per Student Budget"] = df_schools["budget"] / df_schools["size"]

school_performance = pd.DataFrame({}) 
school_performance["Average Math Score"] = student_by_school["math_score"].mean()
school_performance["Average Reading Score"] = student_by_school["reading_score"].mean()

math_passers_by_school = students_passing_math.groupby("school")
math_passers_by_school_counts = math_passers_by_school.count()
school_performance["Number Passing Math"] = math_passers_by_school_counts["name"]

reading_passers_by_school = students_passing_reading.groupby("school")
reading_passers_by_school_counts = reading_passers_by_school.count()
school_performance["Number Passing Reading"] = reading_passers_by_school_counts["name"]

school_performance = school_performance.reset_index()
school_performance = school_performance.rename(columns={"school":"name"})

summary_by_school = pd.merge(df_schools, school_performance, on="name")
summary_by_school["% Passing Math"] = (summary_by_school["Number Passing Math"] / summary_by_school["size"])*100
summary_by_school["% Passing Reading"] = (summary_by_school["Number Passing Reading"] / summary_by_school["size"])*100
summary_by_school["% Overall Passing Rate"] = (summary_by_school["% Passing Math"] + summary_by_school["% Passing Reading"])/2

# Create summary table
school_overview = pd.DataFrame({
    "School Name":summary_by_school["name"],
    "School Type":summary_by_school["type"],
    "Total Students":summary_by_school["size"],
    "Total Budget":summary_by_school["budget"],
    "Per Student Budget":summary_by_school["Per Student Budget"],
    "Average Math Score":summary_by_school["Average Math Score"],
    "Average Reading Score":summary_by_school["Average Reading Score"],
    "% Passing Math":summary_by_school["% Passing Math"],
    "% Passing Reading":summary_by_school["% Passing Reading"],
    "% Overall Passing Rate":summary_by_school["% Overall Passing Rate"]    
})
school_overview = school_overview.set_index("School Name")

# Format items
school_overview["% Passing Math"] = school_overview["% Passing Math"].map('{0:.2f}%'.format)
school_overview["% Passing Reading"] = school_overview["% Passing Reading"].map('{0:.2f}%'.format)
school_overview["Average Math Score"] = school_overview["Average Math Score"].map('{0:.2f}'.format)
school_overview["Average Reading Score"] = school_overview["Average Reading Score"].map('{0:.2f}'.format)
school_overview["% Overall Passing Rate"] = school_overview["% Overall Passing Rate"].map('{0:.2f}%'.format)
school_overview["Per Student Budget"] = school_overview["Per Student Budget"].map('${:,.2f}'.format)
school_overview["Total Budget"] = school_overview["Total Budget"].map('${:,.0f}'.format)

# Reset column order
school_overview= school_overview[["School Type",
                                  "Total Students",
                                  "Total Budget",
                                  "Per Student Budget",
                                  "Average Math Score",
                                  "Average Reading Score",
                                  "% Passing Math",
                                  "% Passing Reading",
                                  "% Overall Passing Rate"]]
school_overview

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,2917,"$1,910,635",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Figueroa High School,District,2949,"$1,884,411",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Shelton High School,Charter,1761,"$1,056,600",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Hernandez High School,District,4635,"$3,022,020",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Griffin High School,Charter,1468,"$917,500",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Bailey High School,District,4976,"$3,124,928",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Holden High School,Charter,427,"$248,087",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wright High School,Charter,1800,"$1,049,400",$583.00,83.68,83.95,93.33%,96.61%,94.97%
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Johnson High School,District,4761,"$3,094,650",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,2739,"$1,763,916",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.42,83.85,93.27%,97.31%,95.29%

# Top Performing Schools (By Passing Rate)

In [4]:
# Create a table that highlights the top 5 performing schools based on Overall Passing Rate
top_performers = school_overview.sort_values("% Overall Passing Rate", ascending=False)
top_performers = top_performers.head(5)
top_performers

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,"$917,500",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.27,83.99,93.87%,96.54%,95.20%

# Bottom Performing Schools (By Passing Rate)

In [5]:
# Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate
bottom_performers = school_overview.sort_values("% Overall Passing Rate", ascending=True)
bottom_performers = bottom_performers.head(5)
bottom_performers

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,2949,"$1,884,411",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,2917,"$1,910,635",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,4761,"$3,094,650",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,2739,"$1,763,916",$644.00,77.10,80.75,68.31%,79.30%,73.80%

# Math Scores By Grade

In [6]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

grade_9 = df_students.loc[df_students["grade"] == "9th",:]
grade_10 = df_students.loc[df_students["grade"] == "10th",:]
grade_11 = df_students.loc[df_students["grade"] == "11th",:]
grade_12 = df_students.loc[df_students["grade"] == "12th",:]

math_by_grade = pd.DataFrame({}) 

grade_9_by_school = grade_9.groupby("school")
grade_9_math = grade_9_by_school["math_score"].mean()
math_by_grade["9th"] = grade_9_math

grade_10_by_school = grade_10.groupby("school")
grade_10_math = grade_10_by_school["math_score"].mean()
math_by_grade["10th"] = grade_10_math

grade_11_by_school = grade_11.groupby("school")
grade_11_math = grade_11_by_school["math_score"].mean()
math_by_grade["11th"] = grade_11_math

grade_12_by_school = grade_12.groupby("school")
grade_12_math = grade_12_by_school["math_score"].mean()
math_by_grade["12th"] = grade_12_math

math_by_grade

                             9th       10th       11th       12th
school
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores By Grade

In [7]:
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school

reading_by_grade = pd.DataFrame({}) 

grade_9_reading = grade_9_by_school["reading_score"].mean()
reading_by_grade["9th"] = grade_9_reading

grade_10_reading = grade_10_by_school["reading_score"].mean()
reading_by_grade["10th"] = grade_10_reading

grade_11_reading = grade_11_by_school["reading_score"].mean()
reading_by_grade["11th"] = grade_11_reading

grade_12_reading = grade_12_by_school["reading_score"].mean()
reading_by_grade["12th"] = grade_12_reading

reading_by_grade

                             9th       10th       11th       12th
school
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores By School Spending

In [8]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student)

summary_by_school["Per Student Budget"] = summary_by_school["Per Student Budget"].map(int)

# Set bin sizes and names
bins = [0,585,615,645,1000]
group_names = ["<$585","$585-615","$620-640",">$640"]
summary_by_school["Spending Range (Per Student)"] = pd.cut(summary_by_school["Per Student Budget"], bins, labels=group_names)

schools_by_spending = summary_by_school.groupby("Spending Range (Per Student)")
summary_schools_by_spending = pd.DataFrame({}) 

# Build summary table
summary_schools_by_spending["Average Math Score"] = schools_by_spending["Average Math Score"].mean()
summary_schools_by_spending["Average Reading Score"] = schools_by_spending["Average Reading Score"].mean()
summary_schools_by_spending["% Passing Math"] = schools_by_spending["% Passing Math"].mean()
summary_schools_by_spending["% Passing Reading"] = schools_by_spending["% Passing Reading"].mean()
summary_schools_by_spending["% Overall Passing Rate"] = schools_by_spending["% Overall Passing Rate"].mean()

# Format summary table
summary_schools_by_spending["% Passing Math"] = summary_schools_by_spending["% Passing Math"].map('{0:.2f}%'.format)
summary_schools_by_spending["% Passing Reading"] = summary_schools_by_spending["% Passing Reading"].map('{0:.2f}%'.format)
summary_schools_by_spending["Average Math Score"] = summary_schools_by_spending["Average Math Score"].map('{0:.2f}'.format)
summary_schools_by_spending["Average Reading Score"] = summary_schools_by_spending["Average Reading Score"].map('{0:.2f}'.format)
summary_schools_by_spending["% Overall Passing Rate"] = summary_schools_by_spending["% Overall Passing Rate"].map('{0:.2f}%'.format)
summary_schools_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Range (Per Student),,,,,
<$585,83.46,83.93,93.46%,96.61%,95.04%
$585-615,83.60,83.89,94.23%,95.90%,95.07%
$620-640,79.08,81.89,75.67%,86.11%,80.89%
>$640,77.00,81.03,66.16%,81.13%,73.65%

# Scores By School Size

In [9]:
# Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size

summary_by_school["size"] = summary_by_school["size"].map(int)

# Set bin sizes and names
bins = [0, 1750, 3500, 5000]
group_names = ["Small (<1750)","Medium (1750-3500)","Large (>3500)"]
summary_by_school["School Size"] = pd.cut(summary_by_school["size"], bins, labels=group_names)

schools_by_size = summary_by_school.groupby("School Size")
summary_schools_by_size = pd.DataFrame({}) 

# Build summary table
summary_schools_by_size["Average Math Score"] = schools_by_size["Average Math Score"].mean()
summary_schools_by_size["Average Reading Score"] = schools_by_size["Average Reading Score"].mean()
summary_schools_by_size["% Passing Math"] = schools_by_size["% Passing Math"].mean()
summary_schools_by_size["% Passing Reading"] = schools_by_size["% Passing Reading"].mean()
summary_schools_by_size["% Overall Passing Rate"] = schools_by_size["% Overall Passing Rate"].mean()

# Format summary table
summary_schools_by_size["% Passing Math"] = summary_schools_by_size["% Passing Math"].map('{0:.2f}%'.format)
summary_schools_by_size["% Passing Reading"] = summary_schools_by_size["% Passing Reading"].map('{0:.2f}%'.format)
summary_schools_by_size["Average Math Score"] = summary_schools_by_size["Average Math Score"].map('{0:.2f}'.format)
summary_schools_by_size["Average Reading Score"] = summary_schools_by_size["Average Reading Score"].map('{0:.2f}'.format)
summary_schools_by_size["% Overall Passing Rate"] = summary_schools_by_size["% Overall Passing Rate"].map('{0:.2f}%'.format)
summary_schools_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1750),83.60,83.88,93.44%,96.66%,95.05%
Medium (1750-3500),80.55,82.68,82.17%,89.63%,85.90%
Large (>3500),77.06,80.92,66.46%,81.06%,73.76%

# Scores By School Type

In [10]:
# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

district_schools = summary_by_school.loc[summary_by_school["type"] == "District", :]
charter_schools = summary_by_school.loc[summary_by_school["type"] == "Charter", :]

# Build summary table
summary_schools_by_type = pd.DataFrame({
    "School Type":["District Schools","Charter Schools"],
    "Average Math Score":[district_schools["Average Math Score"].mean(),charter_schools["Average Math Score"].mean()],
    "Average Reading Score":[district_schools["Average Reading Score"].mean(),charter_schools["Average Reading Score"].mean()],
    "% Passing Math":[district_schools["% Passing Math"].mean(),charter_schools["% Passing Math"].mean()],
    "% Passing Reading":[district_schools["% Passing Reading"].mean(),charter_schools["% Passing Reading"].mean()],
    "% Overall Passing Rate":[district_schools["% Overall Passing Rate"].mean(),charter_schools["% Overall Passing Rate"].mean()]
})

# Set index and order columns
summary_schools_by_type = summary_schools_by_type.set_index("School Type")
summary_schools_by_type = summary_schools_by_type[["Average Math Score",
                                  "Average Reading Score",
                                  "% Passing Math",
                                  "% Passing Reading",
                                  "% Overall Passing Rate"]]

# Format summary table
summary_schools_by_type["% Passing Math"] = summary_schools_by_type["% Passing Math"].map('{0:.2f}%'.format)
summary_schools_by_type["% Passing Reading"] = summary_schools_by_type["% Passing Reading"].map('{0:.2f}%'.format)
summary_schools_by_type["Average Math Score"] = summary_schools_by_type["Average Math Score"].map('{0:.2f}'.format)
summary_schools_by_type["Average Reading Score"] = summary_schools_by_type["Average Reading Score"].map('{0:.2f}'.format)
summary_schools_by_type["% Overall Passing Rate"] = summary_schools_by_type["% Overall Passing Rate"].map('{0:.2f}%'.format)

summary_schools_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
District Schools,76.96,80.97,66.55%,80.80%,73.67%
Charter Schools,83.47,83.90,93.62%,96.59%,95.10%